@model Lab2Auction.Models.Bid
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Details</h1>
<div>
    <h4>Bid</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BidDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BidDate)
        </dd>
        <dt class="col-sm-2">
            Auction Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.Name)
        </dd>
        <dt class="col-sm-2">
            Auction Owned by
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.UserEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="MyBids" class="btn btn-info">Back to List</a>
</div>
