@model IEnumerable<Lab2Auction.Models.Bid>
@{
    string title = ViewData["Title"]?.ToString() ?? "Bids";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@title</h1>
@if (!Model.Any())
{
    <p style="color:darkred; font-weight:500; font-size:x-large; text-align:center">There are no bids available yet!</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().BidDate)
                </th>
                <th>
                    Auction Name
                </th>
                @if (title == "My Bids")
                {
                    <th>Actions</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var bid in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => bid.Amount)
                    </td>
                    <td>
                        @bid.BidDate.ToString("g")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => bid.Auction.Name)
                    </td>
                    @if (title == "My Bids")
                    {
                        <td>
                            <a asp-action="Details" asp-route-id="@bid.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@bid.Id">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
